name: Swift CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: macos-14

    steps:
    - uses: actions/checkout@v4

    - name: List available schemes and devices
      run: |
        cd AudioBooth
        xcodebuild -list

    - name: Build
      run: |
        cd AudioBooth
        xcodebuild build -scheme AudioBooth -destination 'platform=iOS Simulator,name=iPhone 15' -sdk iphonesimulator

    - name: Run tests
      run: |
        cd AudioBooth
        xcodebuild test -scheme AudioBooth -destination 'platform=iOS Simulator,name=iPhone 15' -sdk iphonesimulator
