name: Swift CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: macos-latest

    defaults:
      run:
        working-directory: AudioBooth

    steps:
    - uses: actions/checkout@v4

    - name: List available schemes and simulators
      run: |
        xcodebuild -list -project AudioBooth.xcodeproj
        xcrun simctl list devices available

    - name: Build
      run: xcodebuild build -project AudioBooth.xcodeproj -scheme AudioBooth -destination 'platform=iOS Simulator,OS=latest,name=iPhone 15' -sdk iphonesimulator

    - name: Run tests
      run: xcodebuild test -project AudioBooth.xcodeproj -scheme AudioBooth -destination 'platform=iOS Simulator,OS=latest,name=iPhone 15' -sdk iphonesimulator
