name: Swift CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: macos-14

    defaults:
      run:
        working-directory: AudioBooth

    steps:
    - uses: actions/checkout@v4

    - name: List available schemes and devices
      run: xcodebuild -list -project AudioBooth.xcodeproj

    - name: Build
      run: xcodebuild build -project AudioBooth.xcodeproj -scheme AudioBooth -destination 'platform=iOS Simulator,name=iPhone 15' -sdk iphonesimulator

    - name: Run tests
      run: xcodebuild test -project AudioBooth.xcodeproj -scheme AudioBooth -destination 'platform=iOS Simulator,name=iPhone 15' -sdk iphonesimulator
